entrypoint = "modules_new.py"
modules = ["python-3.11", "python-3.12"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "py"]

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
