#selection-menu{
  align-horizontal: center;
  align-vertical: middle;
}

CodeView{
width: 100%;
text-align: center;
}

#selection-menu-outer{
  align: center middle;
  width: 75%;
}

#selection-label{
  text-align: center;
  margin: 2;
}

Button{
  width: 100%;
}

Screen{
  align: center middle;
}

#egypt{
 background: #C09300;
}

#belarus{
 background: #D22730
}

#direct{
 background: #00ABC2;
}
